*.last-run
Package Control.last-run
Package Control.ca-list
Package Control.ca-bundle
Package Control.system-ca-bundle
Package Control.merged-ca-bundle
Package Control.user-ca-bundle
Package Control.cache/
Package Control.cache/*
Package Control.ca-certs/
*.cache
*errors.log
Color Highlighter/
SFTP.sublime-settings
SublimeLinter/

# Normally, I would want to source control this file.
# But, in this case, I'm OK with setting up this file on a new install of Sublime Text.
MarkdownLight.sublime-settings
